* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color: inherit;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
section {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;

  background-image: url(/src/css/images/wallpaperRickAndMorty.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

h1 {
  font-size: 64px;
  background-image: url(https://rare-gallery.com/uploads/posts/340156-Rick-and-Morty-Cartoon-Morty-Smith-Rick-Sanchez-Night-Sky-Space-Stars.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  -webkit-background-clip: text;
  color: rgba(0, 0, 0, 0);
}
section > #lista {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
  overflow-x: visible;

  background: rgba(255, 255, 255, 0.26);
  border: 3px solid black;
}

section > #lista .card {
  scale: .6;
  min-width: 300px;
  height: 500px;
  cursor: pointer;
  border: 3px solid black;
  border-radius: 10px;
  
  box-shadow: 0.3rem 0.3rem black;
  background-color: goldenrod;
  filter: grayscale(1);
  
  transition: all 0.2s;
}

section > #lista .card:hover {
  filter: grayscale(0);
  transform: translate(-0.6em, -0.6em);
}
section > #lista .card img {
  width: 100%;
  scale: 0.9;
  border-radius: 0.5rem;
  border: 3px solid black;
}
section > #lista .card h3 {
  width: 100%;
  margin: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  color: black;
  text-transform: uppercase;
}
section > #lista .card li {
  margin-left: 20px;
  margin-bottom: 10px;
  font-size: 16px;
}
section > #lista .card li p {
  font-weight: bold;
  color:white
}

span{
  display: flex;
  margin: 30px 0;
  gap: 30px;
}

button{
  width: 100px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  
  border-radius: .2rem;
  border: 3px solid black;
  cursor: pointer;

  box-shadow: .1rem .1rem black;
  background-color: yellow;
}
button:hover{
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.15em 0.15em;
}

button > img{
  width: 50px;
}

@media (max-width: 599px) {
  section > #lista .card{
    scale: .8;
  } 
}